<div class="container">

  <div class="row">
    This is App Component
    <div class="warning-alert alert alert-danger"></div>
  </div>
  <div class="row">
    <div class="success-alert alert alert-success"></div>
  </div>
  <div class="row">
      <label for="">Username</label>
      <input type="text" name="" class="form-control" value="" [(ngModel)]="username" (input)="checkUsernameLength($event)">
  </div>
  <div class="row">
    <div> User {{username}} successfully logged in </div>
  </div>

  <div class="row">
    <button type="button" class="btn btn-primary" name="Reset"  [disabled]="isUserNameEmpty" (click)="resetUsername()">Reset</button>
  </div>

  <div class="row">
    <button type="button" name="button" (click)="togglePasswordContent()">Display Details</button>
    <p [hidden]="!showPassword">Password=Tuna</p>
    <p *ngFor = "let logItem of log; let i = index"
     [ngStyle]="{backgroundColor : i >= 5 ? 'blue' : 'red'}"
     [ngClass]="i <=5 ? 'white-text' : ''"
     >
     {{logItem}}
   </p>
  </div>
</div>
